html{
    font-size: 62.5%;
    font-family: 'Gotham', sans-serif;
  
    @media screen and (max-width: 1500px) {
        font-size: 58%;
    }
  
    @media screen and (max-width: 1230px) {
        font-size: 52%;
    }
}
  

.Header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 24.5rem;
    padding: 2rem 1rem;
}
 