@mixin menuSvg($color) {
    
    &.Header__navigation-item--active, &:hover {

        span {
            color: $color;
        }
    }

        svg {

                path, line, rect, polyline, circle {
                    stroke: $color;
                }
        }
}


@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin transition($property: 0.3s ease-out) {
    -webkit-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color; 
    }
    & { /* Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
        color: $color;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
    }
}

@mixin boxshadow($property) {
    -webkit-box-shadow: $property;
    -moz-box-shadow: $property;
    box-shadow: $property;
  } 