@import "_mixins";

$red: #F53C56;
$darkBlue: #172B4D;

html{
    font-size: 62.5%;
    background: #F1F3F9;
  
    @media screen and (max-width: 1500px) {
        font-size: 58%;
    }
  
    @media screen and (max-width: 1230px) {
        font-size: 52%;
    }
}

body {
    font-family: 'Gotham', sans-serif;
}
  

.Header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 24.5rem;
    padding: 2rem 1rem;
    background: white;
    @include transition;
}

.Header__logo {
    max-width: 10rem;
    height: 2.6rem;
    @include transition;

        img {
            height: 100%;
            max-width: initial;
            width: auto;
            @include transition;
        }
}

.Header__menu-btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 2rem;
    right: 1rem;

    &:hover {
        cursor: pointer;

            span {
                border-color: #F53C56;

                &:nth-of-type(1), &:nth-of-type(3) {
                    width: 1.8rem;
                }
            }
    }

        span {
            position: absolute;
            height: 0;
            border-radius: 2px;
            border-top: 3px solid #172B4D;
            display: block;
            right: 0;
            @include transition;

            &:nth-of-type(1) {
                width: 1.2rem;
                top: 23%;
            }

            &:nth-of-type(2) {
                width: 1.8rem;
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-of-type(3) {
                width: 0.8rem;
                top: 70%;
            }
        }
}

.Header__navigation {
    margin-top: 3.6rem;

        ul {
            list-style-type: none;
            padding-left: 0;

                li {
                    display: block;
                    white-space: nowrap;
                    @include transition;

                    &.Header__navigation-item--active {

                            a {
                                background-color: #F6F9FC;
                            }
                    }

                    &.Header__navigation-item--active {

                            span {
                                font-weight: 500;
                            }
                    }

                    &.Header__navigation-item--purple {
                        @include menuSvg(#7764E4);
                    }

                    &.Header__navigation-item--red {
                        @include menuSvg(#F53C56);
                    }

                    &.Header__navigation-item--blue-light {
                        @include menuSvg(#11CDEF);
                    }

                    &.Header__navigation-item--orange {
                        @include menuSvg(#FB6340);
                    }

                    &.Header__navigation-item--yellow {
                        @include menuSvg(#FEB969);
                    }



                        a {
                            font-size: 0;
                            display: block;
                            padding: 1.6rem 2rem;
                            border-radius: 0.5rem;
                            @include transition;

                                .Header__navigation-item-icon {
                                    display: inline-block;
                                    vertical-align: middle;
                                }

                                span {
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-left: 0.9rem;
                                    font-size: 1.3rem;
                                    color: rgba(#172B4D, 0.8);
                                    font-weight: 400;
                                    @include transition;
                                }
                        }
                }
        }
}

.Header.Header--collapsed {
    width: 7.5rem;

        .Header__logo {
            width: 0;
            overflow: hidden;

                img {
                    opacity: 0;
                }
        }

        .Header__menu-btn {
            right: 50%;
            @include transform(translateX(50%));

                span {
                    width: 1.8rem;
                    right: 0.6rem;
                }
        }

        .Header__navigation {

                ul {

                        li {
                            width: 5.4rem;
                            overflow: hidden;

                                a {
                                    padding: 1.6rem;

                                        span {
                                            opacity: 0;
                                        }
                                }
                        }
                }
        }
}

main {
    padding-left: 24.5rem;
}

.Container {
    padding: 0 3rem;
    display: block;
    width: 100%;
}

.Topbar {
    padding: 1.6rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    background: $darkBlue;
    text-align: right;
}

    .Topbar__item {
        display: inline-block;
        vertical-align: middle;
        margin-left: 4rem;
    }

    .Topbar__notifications-btn {    

        &:hover {

                svg path {
                    stroke: $red;
                }
        }

            svg {

                    path {
                        @include transition;
                    }
            }
    }

    .Topbar__help-btn {

        &:hover {

            svg {

                    path, circle, line {
                        stroke: $red;
                    }
            }
        }

        svg {

                path, circle, line {
                    @include transition;
                }
        }
    }

    .Topbar__profile-btn {

        &:hover {

                p {
                    color: $red;
                }
        }

            img {
                display: inline-block;
                vertical-align: middle;
                width: 5rem;
                border-radius: 2.5rem;
                margin-right: 1.5rem;
            }

            p {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                font-size: 1.3rem;
                color: white;
                @include transition;
            }
    }

.PageHeader {
    background: $darkBlue;
    padding: 4rem 0;
    
        .Container {
            display: flex;
            align-items: center;
        }

            h1 {
                margin: 0;
                color: white;
                font-size: 2.5rem;
                font-weight: 800;
                padding-right: 4rem;
            }
}

    .Breadcrumbs {
        
            p {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                color: white;
                margin: 0;

                    a {
                        color: white;
                        text-decoration: none;
                        @include transition;

                        &:hover {
                            color: $red;
                        }
                    }

                    span {
                        display: inline-block;
                        margin: 0 1.5rem;
                    }
            }
    }

        .Breadcrumbs__icon {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1.5rem;
            height: 2.2rem;

                svg {

                        path, line, polyline, circle {
                            stroke: white;
                        }
                }
        }